.stats * {
  font-family: "Avenir Next";
}

@font-face {
  font-family: Avenir Next;
  src: url(https://drpbox.s3.eu-west-1.amazonaws.com/AvenirNext-Bold.ttf);
}

.emoji {
  display: inline-block;
  width: 0.9em;
  transform: translateY(-0.06em);
}
